<launch>

<!-- Default folder with maps-->
<arg name="folder" default="$(env HOME)/test_bearnav"/>

<!-- Distance Measurement Node -->
<node pkg="stroll_bearnav" type="odometry_monitor_node" name="odometry_monitor">
	<remap from="odom" to="odometry/filtered"/>
	<remap from="joint_states" to="dev/null"/>
</node>

<!-- feature extraction -->
<node pkg="stroll_bearnav" type="feature_extraction_node" name="feature_extraction">
	<remap from="image/compressed" to="/ros_indigosdk_occam/image0/compressed"/>
    <param name="image_transport" value="compressed"/>
</node>

<!-- mapping node -->
<node pkg="stroll_bearnav" type="mapper_node" name="mapper" output="screen">
	<param name="folder" value="$(arg folder)" />
	<remap from="image/compressed" to="/ros_indigosdk_occam/image0/compressed"/>
    <param name="image_transport" value="compressed"/>
	<remap from="cmd" to="jackal_velocity_controller/cmd_vel"/>
	<remap from="joy" to="bluetooth_teleop/joy"/>
	<param name="forwardSpeed" value="0.35" />
	<param name="angularSpeed" value="2.0" />
	<param name="flipperSpeed" value="2.0" /> <!-- I think flipperSpeed is used in place of angularSpeed. Set both to be sure... -->
	<param name="forwardAcceleration" value="0.035" />
	<param name="axis_linear" value="1" />
	<param name="axis_angular" value="3" />
</node>

</launch>
