<launch>

<!-- Default folder with maps-->
<arg name="folder" default="$(env HOME)/test_bearnav"/>

<!-- Distance Measurement Node -->
<node pkg="stroll_bearnav" type="odometry_monitor_node" name="odometry_monitor">
	<remap from="odom" to="odometry/filtered"/>
</node>

<!-- feature extraction -->
	<node pkg="stroll_bearnav" type="feature_extraction_node" name="feature_extraction">
		<remap from="image" to="ros_indigosdk_occam/image0"/>
	</node>

<!-- mapping node -->
<node pkg="stroll_bearnav" type="mapper_node" name="mapper" output="screen">
	<remap from="image" to="ros_indigosdk_occam/image0"/>
	<param name="folder" value="$(arg folder)" />
</node>

<!-- map loader node -->
<node pkg="stroll_bearnav" type="map_preprocessor_node" name="map_preprocessor" output="screen">
<param name="folder" value="$(arg folder)" />
</node>

<!-- navigator node -->
<node pkg="stroll_bearnav" type="navigator_node" name="navigator" output="screen">
	<param name="folder" value="$(arg folder)" />
	<remap from="cmd" to="jackal_velocity_controller/cmd_vel"/>
</node>

<!-- Save ground truth transforms -->
<node pkg="miro_teach_repeat" type="save_ground_truth" name="save_ground_truth">
	<param name="folder" value="$(arg folder)" />
</node>

</launch>
